.status-red {
    color: red;
  }
  
  .status-green {
    color: green;
  }
  
  .status-orange {
    color: orange;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .popup-actions button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-actions button:hover {
    background-color: #45a049;
  }
  
  .popup-actions button:focus {
    outline: none;
  }

  .count-all-status {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  .date-inputs {
    margin-bottom: 20px;
  }
  
  .date-inputs input {
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .date-inputs button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .date-inputs button:hover {
    background-color: #0056b3;
  }
  
  .status-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .status-item-0 {
    display: flex;
    align-items: center;
    background-color: #be1e1e;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-1 {
    display: flex;
    align-items: center;
    background-color: rgb(39, 39, 38);
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-2 {
    display: flex;
    align-items: center;
    background-color: rgb(5, 151, 107);
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-3 {
    display: flex;
    align-items: center;
    background-color: #f59505;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-4 {
    display: flex;
    align-items: center;
    background-color: #f59505;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-5 {
    display: flex;
    align-items: center;
    background-color: #0ca119;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-6 {
    display: flex;
    align-items: center;
    background-color: #be1e1e;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-paid {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .status-item-notpaid {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .status-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .status-label-notpaid {
    font-weight: bold;
    margin-right: 10px;
    color: #ce0909;
  }

  .status-label-paid {
    font-weight: bold;
    margin-right: 10px;
    color: #09ce2a;
  }

  .status-count {
    font-size: 16px;
    color: #007bff;
  }

  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c82333;
}

.delete-btn:focus {
    outline: none;
}

.confirm-btn {
  background-color: rgb(10, 173, 124);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.confirm-btn:disabled{
  background-color: #cccccc;
  color: #666666; 
  cursor: not-allowed;        
  transform: none;
}

.confirm-btn:disabled:hover {
  background-color: #cccccc;
  transform: none;
}
.confirm-btn:hover {
  background-color: rgb(5, 151, 107);
}

.confirm-btn:focus {
  outline: none;
}

.package-btn {
  background-color: #f59505;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.package-btn:disabled{
  background-color: #cccccc;
  color: #666666; 
  cursor: not-allowed;        
  transform: none;
}
.package-btn:disabled:hover {
  background-color: #cccccc;
  transform: none;
}
.package-btn:hover {
  background-color: #885508;
}

.package-btn:focus {
  outline: none;
}

.ship-btn {
  background-color: #f59505;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.ship-btn:disabled:hover {
  background-color: #cccccc;
  transform: none;
}
.ship-btn:disabled{
  background-color: #cccccc;
  color: #666666; 
  cursor: not-allowed;        
  transform: none;
}

.ship-btn:hover {
  background-color: #885508;
}

.ship-btn:focus {
  outline: none;
}

.done-btn {
  background-color: #0ca119;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.done-btn:disabled:hover {
  background-color: #cccccc;
  transform: none;
}
.done-btn:disabled{
  background-color: #cccccc;
  color: #666666; 
  cursor: not-allowed;        
  transform: none;
}
.done-btn:hover {
  background-color: #07530e;
}

.done-btn:focus {
  outline: none;
}

.fail-btn {
  background-color: #be1e1e;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.fail-btn:disabled:hover {
  background-color: #cccccc;
  transform: none;
}
.fail-btn:disabled{
  background-color: #cccccc;
  color: #666666; 
  cursor: not-allowed;        
  transform: none;
}
.fail-btn:hover {
  background-color: #c82333;
}

.fail-btn:focus {
  outline: none;
}

.calcel-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-btn:hover {
  background-color: #c82333;
}

.cancel-btn:focus {
  outline: none;
}

.close-btn {
  background-color: #cccccc;
  color: #000000;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  right: '20px'
}

.close-btn:hover {
  background-color: #c82333;
}

.close-btn:focus {
  outline: none;
}